*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #E4E9E5;
}

.container{
    display: flex;
    width: 100vw;
    height: 100vh;
}

.barCenter{
    display: flex;
}


.barMain{
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 1px 0px 10px rgb(122, 122, 122);
    width: 17vw;
    height: 100vh; 
}

.btnShowMenu{
    display: none;
}

.logEnterprise{
    object-fit: cover;
    margin-left: 20px;
}

.mainButton{
    margin-top: 25px;
    /* display: ; */
}

.mainButton span{
    font-size: 12px;
    color:#a5a4a4;
    margin-left: 15px;
}

.mainButton .btn{
    width: 90%;
    margin-left: 5%;
    margin-top: 10px;
    height: 40px;
    background-color: white;
    border-radius: 12px;

    display: flex;
    align-items: center;
    /* justify-content: space-between; */
}

.iconMain{
    height: 80%;
    object-position: 50% 50%;
    object-fit: cover;
    flex-grow: 1;
}
.iconRight{
    height:20%;
    /* width: 25%; */
    object-fit: cover;
    object-position: 50% 45%;
    flex-grow: 1;
    /* border: 1px solid red; */
    padding-right: 5px;
}

.mainButton .btn button{
    width: 60%;
    border: 0px;
    background-color: rgba(255, 255, 255, 0);
    /* background-color: red; */
    color: #848484;
    font-size: 15px;
    text-align: left;
    flex-grow: 2;
}

.mainButton .btn:hover{
    /* background-color: #00FF4C; */
    background: linear-gradient(to left, #01da42, #00FF4C);
    color:white;
    transition: all .7s; 
}


.barTop{
    background-color: white;
    box-shadow: 0px 1px 10px rgb(122, 122, 122);
    display: flex;
    justify-content: space-between;
    width: 83vw;
    height: 60px;
}

.barTop .spaceTop{
    width: 10px;
    /* background-color: blue; */
}
/* .barTop .title img{
    object-fit:cover;
    margin-left: 40px;
    margin-top: -15px;
    height: 100%;
} */

.barTop ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    padding-right: 15px;
}

.barTop ul li a{
    text-decoration: none;
    color: #848484;
    padding: 15px;
}




/* .panelChange{
    background-color: blue;
    width: 73%;
    margin-left: 5%;
    margin-top: 15px;
    height: 100%;
} */




@media screen and (max-width: 768px) {
    .barMain{
        display: flex;
        flex-direction:row;
        justify-content: space-between;
        align-items: center;
        background-color: white;
        box-shadow: 1px 0px 10px rgb(122, 122, 122);
        width: 100vw;
        height: 9vh; 
        z-index: 100;
    }

    
    .barTop{
        background-color: white;
        width: 100vw;
        height: 5vh;
    }
    .barTop ul{
        display: flex;
        justify-content: space-between;
        width: 100vw;
        height: 5vh;
    }
    .spaceTop{
        display: none;
    }
    .logEnterprise{
        flex-grow: 1;
    }
    .btnShowMenu{
        display:flex;
    }
    .btnShowMenu img{
        height: 50%;
        width: 50%;
        object-fit: cover;
    }

    .mainButton{
        display: none;
    }

    .barCenter{
        display: flex;
        flex-direction: column;
    }

}